
  <div style="overflow-x:auto;">
    <body> 

      <img src="https://i.ibb.co/6Z6Qyj3/Capture.png" alt="Italian Trulli">


 <table class="sortable">
    <caption>
      FORMULA 1 - 2022 Driver Standings
    </caption>
    <thead>
      <tr>
        <th>
            POS
          </th>
          <th>
            DRIVER
          </th>
        <th>
            NATIONALITY
          </th>
        <th >CAR</th>
          <th>
            PTS
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>MAX VERSTAPPEN</td>
        <td>NED</td>
        <td>RED BULL RACING RBPT</td>
        <td >258</td>
      </tr>
      <tr>
        <td>2</td>
        <td>CHARLES LECLERC</td>
        <td>MON</td>
        <td>FERRARI</td>
        <td >178</td>
      </tr>
      <tr>
        <td>3</td>
        <td>SERGIO PEREZ</td>
        <td>MEX</td>
        <td>RED BULL RACING RBPT</td>
        <td >173</td>
      </tr>
      <tr>
        <td>4</td>
        <td>GEORGE RUSSELL</td>
        <td>GBR</td>
        <td>MERCEDES</td>
        <td >158</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Carlos Sainz	</td>
        <td>ESP</td>
        <td>FERRARI	</td>
        <td >156</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Lewis Hamilton	</td>
        <td>GBR</td>
        <td>MERCEDES	</td>
        <td >146</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Esteban Ocon	</td>
        <td>FRA</td>
        <td>ALPINE RENAULT</td>
        <td >76</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Valtteri Bottas	</td>
        <td>FIN</td>
        <td>ALFA ROMEO FERRARI</td>
        <td >58</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Fernando Alonso		</td>
        <td>ESP</td>
        <td>ALPINE RENAULT</td>
        <td >41</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Kevin Magnussen		</td>
        <td>DEN</td>
        <td>	HAAS FERRARI</td>
        <td >22</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Daniel Ricciardo		</td>
        <td>AUS</td>
        <td>	MCLAREN MERCEDES</td>
        <td >19</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Pierre Gasly		</td>
        <td>FRA	</td>
        <td>	ALPHATAURI RBPT</td>
        <td >16</td>
      </tr>

    </tbody>
  </table>


  <!--VERTICAL

<table class="sortable">
  <tr>
    <th>POS:</th>
    <td>RED BULL RACING RBPT</td>
  </tr>
  <tr>
    <th>DRIVER:</th>
    <td>258</td>
  </tr>
  <tr>
    <th>NATIONALITY:</th>
    <td>258</td>
  </tr>
  <tr >
    
    <th>CAR:</th>
    <td>RED BULL RACING RBPT</td>
  </tr>
  <tr>
    <th>PTS:</th>
    <td>258</td>
  </tr>
</table>

-->

  <p>    © 2003-2022 Formula One World Championship Limited  </p>


</body>
</div>